#
# The deploy.cfg file is located in the module top dir is a necessary file
# needed for deployments. This file contains config variables, such as 
# mongodb-host, mysqldb-host. Standard variable names are listed on the trac
# wiki at https://trac.kbase.us/projects/kbase/wiki/DeployCfgStandards
#
# The variables in the deploy.cfg file will get "injected" into the module
# makefile. In short, the variable is uppercased and dashes become underscores,
# so mongodb-host in the deploy.cfg file becomes MONGODB_HOST in the module
# makefile when the module makefile is invoked by the system make file at the
# top level of the dev container.
#
#
#
# Deployment configuration for the kb_seed module
#

[cdmi_api]

# dbName = kbase_sapling_v3
# userData = readonly/readonly
# dbhost = db3.chicago.kbase.us
# DBD = /mnt/bob/schema/deployment/lib/KSaplingDBD.xml
# service-url = http://localhost:7032

[kb_seed]
# service-url = http://localhost:7032
# DBD = /mnt/bob/schema/deployment/lib/KSaplingDBD.xml

