#!/bin/sh
export KB_TOP=[% kb_top %]
export KB_RUNTIME=[% kb_runtime %]
export PATH=$KB_TOP/bin:$KB_RUNTIME/bin:$PATH
export PERL5LIB=$KB_TOP/lib
export KB_SERVICE_DIR=$KB_TOP/services/[% kb_service_name %]
export KB_SPHINX_PORT=[% kb_sphinx_port %]
export KB_SPHINX_HOST=[% kb_sphinx_host %]
export CDMIDBD=$KB_TOP/lib/KSaplingDBD.xml

pid_file=$KB_SERVICE_DIR/service.pid

exec $KB_RUNTIME/bin/perl $KB_RUNTIME/bin/starman --listen :[% kb_service_port %] --pid $pid_file $KB_TOP/lib/CDMI.psgi
